<p><%= link_to "Departments", :controller => "departments" %></p>
<p><%= link_to "Employees", :controller => "employees" %></p>
<p><%= link_to "Cars", :controller => "cars" %></p>
<p><%= link_to "Inspections", :controller => "inspections" %></p>
<p><%= link_to "Reports", :controller => "reports" %></p>
