<% title "Reports" %>

<table>
  <tr>
    <th>Employee</th>
    <th>Car</th>
    <th>Comments</th>
    <th>Status</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.employee.name %></td>
      <td><%=h report.car.model_board %></td>
      <td><%=h report.comments %></td>
      <td><%=h report.status %></td>
      <td><%= link_to "Show", report %></td>
      <td><%= link_to "Edit", edit_report_path(report) %></td>
      <td><%= link_to "Destroy", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_report_path %></p>
